.films{
    width: calc( 100% - 120px);
    min-width: 800px;
    height: 100%;
    background: url(../../img/bg.jpeg)no-repeat center;
    background-size: cover;
    position: absolute;
    left: 120px;
    top: 0;
}


.q{
    width: 100%;
    height: 100px;
    display: flex;
    background: #000;
}