
.init-section{
    width: 100%;
    height: 100vh;
    min-width: 600px;
    background: #7b867e url(../../img/IAP34240.png)no-repeat 470px center;
    background-size: 36%;
}

.preloader{
    width: 100%;
    height: 100vh;
    background: #083142 url(../../img/ada673119a41a7538cc192c2df75f8e2.gif)no-repeat center;
    background-size: 30%;
}
